<!DOCTYPE html>
<html lang="en">

    <head>
        <meta charset="UTF-8">
        <title>Home</title>
    </head>

    <body>
        <h1>Acesse /deals para sincronizar deals</h1>
        <button value="Deals" name="botao_chamador" onclick="location.href={% url 'deals' %}">
            Chamar deals
        </button>

        <h2>Acesse /leads para sincronizar leads</h2>
        <button value="leads" name="botao_chamador" onclick="location.href={% url 'leads' %}">
            Chamar leads
        </button>

    </body>

</html>